name: Deploy Frontend

on:
  push:
    branches: [ "testing" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up SSH
      uses: webfactory/ssh-agent@v0.7.0
      with:
        ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

    - name: Install dependencies and build
      run: |
        npm ci
        npm run build

    - name: Deploy to VPS
      run: |
        echo "USER=${{ secrets.USER }}"
        echo "HOST=${{ secrets.HOST }}"
        ssh -o StrictHostKeyChecking=no ${{ secrets.USER }}@${{ secrets.HOST }} "
          rm -rf /web/frontend/*"
        scp -r build/* ${{ secrets.USER }}@${{ secrets.HOST }}:/web/frontend/
